CEO Meeting Schedule/CEO Meeting Schedule.json
{
  "name": "CEO Meeting Schedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84cec262-cae8-4b26-8022-67cc52ebf293",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -224
      ],
      "id": "ba27efdd-f1d5-4f3f-8555-11efe8252431",
      "name": "Webhook",
      "webhookId": "84cec262-cae8-4b26-8022-67cc52ebf293"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The duration for this meeting is {{ $('Webhook').item.json.body.data[3].value }} minutes",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an AI Executive Assistant to the CEO. Your primary role is to intelligently analyze the CEO’s schedule and recommend suitable time slots for new meetings or activities.\n\nYou have access to the following tools:\n1. HTTP Request Tool – used to retrieve calendar events directly from the Microsoft Graph API.  \n2. Date & Time (Get Current Date) Tool – provides the current date and time.  \n3. Date & Time (Add to a Date) Tool – allows you to add a specific duration to a given date.  \n   - The time unit is set to “days”.\n   - The duration is set to 14.\n   - Pass the current date value obtained from the Date & Time (Get Current Date) tool into the “Date to Add To” field.\n   - The resulting date represents the end of the two-week period used for fetching events.  \n4. Calculator Tool – enables you to perform arithmetic operations, such as adding or subtracting numerical values (e.g., adding minutes to a given time). Note: this tool only accepts integer inputs and does not process date or time formats directly.  \n\nYour Core Task:\nWhen given a numerical input (e.g., 40), which represents a duration in minutes, your goal is to:\n1. Use the HTTP Request tool to retrieve all events in the CEO’s calendar for the next two weeks.\n   - Set `startDateTime` parameter to the current date and time from the Date & Time (Get Current Date) tool.\n   - Set `endDateTime` parameter to the date generated by the Date & Time (Add to a Date) tool.  \n2. Analyze the occupied time slots between 2:30 PM and 5:00 PM (Monday to Friday).  \n3. Find the next available time slot starting at least a week after the current date and time returned from the Date & Time tool that:\n   - Fits the given duration.  \n   - Leaves at least a 5-minute buffer before and after any existing event.  \n\nIf multiple time slots are available, select the earliest valid slot that is at least one week ahead of the current date and time, while remaining within the two-week window.\n\nOutput Format:\nYou must output only the recommended start and end times in the format already defined by the output parser:\n{\n    \"start\": {\n        \"dateTime\": \"0000-00-00T00:00:00\",\n        \"timezone\": \"Africa/Lagos\"\n    },\n    \"end\": {\n        \"dateTime\": \"0000-00-00T00:00:00\",\n        \"timezone\": \"Africa/Lagos\"\n    }\n}\n\nThe dateTime fields must follow the ISO 8601 Extended DateTime format, which combines date and time in the form YYYY-MM-DDTHH:MM:SS (e.g., 2025-09-23T13:00:00).  \nThe timezone field must be a valid IANA timezone — in this case, use \"Africa/Lagos\", which corresponds to West Africa Time (WAT, UTC+1).\n\nAdditional Instructions:\n- Always respect the CEO’s existing meetings and breaks.\n- Scheduled meetings must be set at least one week in advance of the current date.\n- All meetings must be scheduled strictly between 2:30 PM and 5:00 PM.\n- Meetings must never be scheduled before 2:30 PM under any circumstance.\n- Never schedule events on weekends; they should only be set between Monday and Friday.\n- Ensure the suggested time is not in the past relative to the current date and time.\n- Ensure that the suggested time does not conflict with any recurring events in the calendar.\n- Use the Date & Time (Get Current Date) and (Add to a Date) tools to define the two-week time range for event retrieval.  \n- Use the Calculator Tool to compute the end time by adding the meeting duration to the start time.  \n- Be concise and precise — your output must contain only the valid JSON structure required by the parser."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        -224
      ],
      "id": "1a650242-5811-478c-9c9c-3e545f4ecee1",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        16
      ],
      "id": "6b2813c9-40dc-4feb-89d7-48aec6d105df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "brD9ZGNYfNwm4Ay9",
          "name": "e4eAI OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"start\": {\n        \"dateTime\": \"0000-00-00T00:00:00\",\n        \"timezone\": \"Africa/Lagos\"\n    },\n    \"end\": {\n        \"dateTime\": \"0000-00-00T00:00:00\",\n        \"timezone\": \"Africa/Lagos\"\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        16
      ],
      "id": "cba20d6e-7039-4ee8-b597-2b655d178e46",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "timezone": "Africa/Lagos"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        400,
        16
      ],
      "id": "a6cc74b2-9f8c-4c29-a493-53b4d21ea917",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        528,
        16
      ],
      "id": "f6f6732b-5f80-4d56-b027-3cd2831bc495",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_to_Add_To', `Value of Date & Time (Get Current Date) tool.`, 'string') }}",
        "duration": 14,
        "outputFieldName": "2WeeksFromNow",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        656,
        16
      ],
      "id": "332c61ee-dcd0-4b7f-a447-b23bfcb84d6d",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request to retrieve calendar events from the Outlook API and returns the response data",
        "url": "=https://graph.microsoft.com/v1.0/me/calendarView",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDateTime",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Use the value of the \"currentDate\" field returned from Date & Time (Get Current Date) tool.`, 'string') }}"
            },
            {
              "name": "endDateTime",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Use the value of the \"2WeeksFromNow\" field returned from Date & Time (Add to a Date) tool.`, 'string') }}"
            },
            {
              "name": "$top",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.timezone=\"Africa/Lagos\""
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body['@odata.nextLink'] }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response[\"@odata.nextLink\"] === undefined}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        784,
        16
      ],
      "id": "10821323-b798-4e46-89e6-4d9b4fbdd95b",
      "name": "HTTP Request",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "J9APiTZArpfDS7Ul",
          "name": "Asangansi Managed Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the JSON from the input node named “Webhook”\nconst input = $node[\"Webhook\"].json;\nconst dataArray = input.body.data;\n\n// Find the object containing the work emails\nconst workEmailObject = dataArray.find(item => item.key === \"amfac\");\n\nif (!workEmailObject || !Array.isArray(workEmailObject.value)) {\n  return [\n    {\n      json: {\n        error: \"No work email data found on Webhook input.\"\n      }\n    }\n  ];\n}\n\n// Helper function to convert email to full name\nfunction emailToFullName(email) {\n  const username = email.split(\"@\")[0]; // everything before '@'\n  const parts = username.split(\".\");    // split by '.'\n  return parts\n    .map(part => part.charAt(0).toUpperCase() + part.slice(1))\n    .join(\" \"); // join with space\n}\n\n// Construct the attendee array in Outlook format\nconst attendees = workEmailObject.value.map(email => ({\n  emailAddress: {\n    address: email,\n    name: emailToFullName(email)\n  },\n  type: \"required\"\n}));\n\n// Return output in n8n format\nreturn [\n  {\n    json: {\n      attendees: attendees\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -224
      ],
      "id": "ccea384d-29da-4fe7-ab78-2b6751fa657c",
      "name": "Create Attendee Object"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U04USMDMHRA",
          "mode": "list",
          "cachedResultName": "christopher.ojoboh"
        },
        "message": "=Hello <@U04USMDMHRA> \n\nKindly approve or disapprove the proposed meeting time slot. Details are provided below;\n\nAI Scheduler: Proposed slot - {{ $('AI Agent').item.json.output.start.dateTime.match(/T(\\d{2}:\\d{2})/)[1] }} PM to {{ $('AI Agent').item.json.output.end.dateTime.match(/T(\\d{2}:\\d{2})/)[1] }} PM on {{ \n  (() => {\n    const dateStr = $('AI Agent').item.json.output.start.dateTime.split('T')[0];\n    const [year, month, day] = dateStr.split('-');\n    const monthNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n    const daySuffix = (d => {\n      if (d.endsWith('1') && d !== '11') return 'st';\n      if (d.endsWith('2') && d !== '12') return 'nd';\n      if (d.endsWith('3') && d !== '13') return 'rd';\n      return 'th';\n    })(day);\n    return `${parseInt(day)}${daySuffix} ${monthNames[parseInt(month)-1]} ${year}`;\n  })()\n}}\n\n- Team member who requested: {{ $('Webhook').item.json.body.data[0].value }}\n- Meeting purpose: {{ $('Webhook').item.json.body.data[1].value }}\n- Duration: {{ $('Webhook').item.json.body.data[3].value }} minutes\n- Attendee(s): {{ $('Webhook').item.json.body.data[2].value.join(', ') }}\n\nResponse expected at your earliest convenience.\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1344,
        -224
      ],
      "id": "06fba9b1-2e07-42f0-a6c7-0dfec5c9f9ff",
      "name": "Send message and wait for response",
      "webhookId": "fc3cac2c-b7e1-4c0a-87c3-173e822201d3",
      "credentials": {
        "slackApi": {
          "id": "wl7aNw0I8pHwTNzg",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f830de1f-a17a-4424-82c8-defc49b5ed97",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -224
      ],
      "id": "5b5165f8-f544-441e-82fc-531f45daa592",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{ $('Webhook').item.json.body.data[1].value }}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"\"\n  },\n  \"start\": {\n    \"dateTime\": \"{{ $('AI Agent').item.json.output.start.dateTime }}\",\n    \"timeZone\": \"{{ $('AI Agent').item.json.output.start.timezone }}\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{ $('AI Agent').item.json.output.end.dateTime }}\",\n    \"timeZone\": \"{{ $('AI Agent').item.json.output.end.timezone }}\"\n  },\n  \"location\": {\n    \"displayName\": \"Microsoft Teams Meeting\"\n  },\n  \"isOnlineMeeting\": true,\n  \"onlineMeetingProvider\": \"teamsForBusiness\",\n  \"attendees\": {{ JSON.stringify($node[\"Create Attendee Object\"].json.attendees) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        -320
      ],
      "id": "e66410b4-25ac-44c6-99a4-781a4ab596ed",
      "name": "Schedule calender event",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "J9APiTZArpfDS7Ul",
          "name": "Asangansi Managed Outlook"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI",
          "mode": "list",
          "cachedResultName": "Meeting Request Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FULL NAME": "={{ $('Webhook').item.json.body.data[0].value }}",
            "MEETING PURPOSE": "={{ $('Webhook').item.json.body.data[1].value }}",
            "DURATION (Mins)": "={{ $('Webhook').item.json.body.data[3].value }}",
            "ATTENDEES": "={{ $('Webhook').item.json.body.data[2].value.join(', ') }}",
            "SCHEDULE STATUS": "Disapproved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETING PURPOSE",
              "displayName": "MEETING PURPOSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATTENDEES",
              "displayName": "ATTENDEES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DURATION (Mins)",
              "displayName": "DURATION (Mins)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHEDULE STATUS",
              "displayName": "SCHEDULE STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -128
      ],
      "id": "b0ebae2a-75be-456e-89d0-77a8d1627207",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6xLIlihki3GMsJpR",
          "name": "AI Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI",
          "mode": "list",
          "cachedResultName": "Meeting Request Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhwLVjgUkJPKzTcXdFCXkVErKFsmL_eK2rt_4kFLbQI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FULL NAME": "={{ $('Webhook').item.json.body.data[0].value }}",
            "MEETING PURPOSE": "={{ $('Webhook').item.json.body.data[1].value }}",
            "DURATION (Mins)": "={{ $('Webhook').item.json.body.data[3].value }}",
            "ATTENDEES": "={{ $('Webhook').item.json.body.data[2].value.join(', ') }}",
            "SCHEDULE STATUS": "Approved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETING PURPOSE",
              "displayName": "MEETING PURPOSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATTENDEES",
              "displayName": "ATTENDEES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DURATION (Mins)",
              "displayName": "DURATION (Mins)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHEDULE STATUS",
              "displayName": "SCHEDULE STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -320
      ],
      "id": "549acdec-6157-443f-9de8-ad5f92fea294",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6xLIlihki3GMsJpR",
          "name": "AI Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06475ZRBNG",
          "mode": "list",
          "cachedResultName": "ceo-team-support"
        },
        "text": "=Hello <!channel>\n\nNew meeting request has been submitted by {{ $json.body.data[0].value }}\n\n- Meeting purpose: {{ $('Webhook').item.json.body.data[1].value }}\n- Duration: {{ $('Webhook').item.json.body.data[3].value }} minutes\n- Attendee(s): {{ $('Webhook').item.json.body.data[2].value.join(', ') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -80,
        -224
      ],
      "id": "b1311b36-1512-494f-8cc3-b97dc65a110d",
      "name": "Send a message1",
      "webhookId": "0e1c2960-6bba-42aa-9a9f-87585ffb9042",
      "credentials": {
        "slackApi": {
          "id": "wl7aNw0I8pHwTNzg",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        16
      ],
      "id": "ef2f473e-03db-49d7-9dd4-d608444e7733",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XwM8enBL6GGiaFjn",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\n\nconst results = [];\nconst targetTimeZone = 'Africa/Lagos';\n\n/* ============================================\n   0) Get Mon–Sat boundaries from previous node\n============================================ */\nconst tsNode = $node[\"Get (Mon-Sat) Timestamps1\"].json;\n\n// Support flexible shapes\nconst ts = tsNode.startDateTime ? tsNode : (tsNode.json || tsNode[0] || tsNode);\n\nif (!ts?.startDateTime || !ts?.endDateTime) {\n  throw new Error('Missing startDateTime/endDateTime from \"Get (Mon-Sat) Timestamps1\" node');\n}\n\nconst startOfRange = DateTime.fromISO(ts.startDateTime).setZone(targetTimeZone);\nconst endOfRange = DateTime.fromISO(ts.endDateTime).setZone(targetTimeZone);\n\n// Build day buckets based on the range provided\nconst startDay = startOfRange.startOf('day');\nconst endDay = endOfRange.startOf('day');\nconst totalDays = Math.floor(endDay.diff(startDay, 'days').days) + 1;\n\n/* ============================================\n   Helper: format time\n============================================ */\nfunction formatTimeRange(start, end) {\n  const s = start.toFormat('h:mm');\n  const sa = start.toFormat('a').toLowerCase();\n  const e = end.toFormat('h:mm');\n  const ea = end.toFormat('a').toLowerCase();\n\n  return sa === ea ? `${s}-${e}${sa}` : `${s}${sa}-${e}${ea}`;\n}\n\n/* ============================================\n   Helper: overlap check\n============================================ */\nfunction overlaps(aStart, aEnd, bStart, bEnd) {\n  return aStart < bEnd && aEnd > bStart;\n}\n\n/* ============================================\n   1) Process events\n============================================ */\nfor (const item of $input.all()) {\n  const apiEvents = item.json.value || [];\n  const dailyBuckets = {};\n\n  // Initialize buckets for each day in the range\n  for (let i = 0; i < totalDays; i++) {\n    const d = startDay.plus({ days: i });\n    dailyBuckets[d.toISODate()] = [];\n  }\n\n  /* ============================================\n     2) Parse API events (authoritative)\n  ============================================ */\n  for (const event of apiEvents) {\n    // 1. Detect if All Day (Outlook uses 'isAllDay' boolean, Google uses 'date' field)\n    const isAllDay = event.isAllDay === true || (event.start && !!event.start.date);\n\n    let start, end;\n\n    if (isAllDay) {\n      // For All Day, stick to the date component\n      const startDateStr = event.start.date || event.start.dateTime.split('T')[0];\n      const endDateStr = event.end.date || event.end.dateTime.split('T')[0];\n      \n      start = DateTime.fromISO(startDateStr, { zone: targetTimeZone }).startOf('day');\n      // Outlook All-Day events end on the next day at 00:00, subtract 1ms to keep it on the correct day\n      end = DateTime.fromISO(endDateStr, { zone: targetTimeZone }).minus({ millisecond: 1 }).endOf('day');\n    } else {\n      // 2. Timed Events: Respect the Source TimeZone provided by Outlook\n      const sourceStartZone = event.start.timeZone || targetTimeZone;\n      const sourceEndZone = event.end.timeZone || targetTimeZone;\n\n      start = DateTime.fromISO(event.start.dateTime, { zone: sourceStartZone }).setZone(targetTimeZone);\n      end = DateTime.fromISO(event.end.dateTime, { zone: sourceEndZone }).setZone(targetTimeZone);\n    }\n\n    // Ignore events completely outside the generated range\n    if (end < startOfRange || start > endOfRange) continue;\n\n    // Distribute across the daily buckets\n    for (const dateKey of Object.keys(dailyBuckets)) {\n      const dayStart = DateTime.fromISO(dateKey, { zone: targetTimeZone }).startOf('day');\n      const dayEnd = dayStart.endOf('day');\n\n      if (overlaps(start, end, dayStart, dayEnd)) {\n        dailyBuckets[dateKey].push({\n          subject: event.subject || \"(No title)\",\n          start,\n          end,\n          isAllDay\n        });\n      }\n    }\n  }\n\n  /* ============================================\n     3) Generate output\n  ============================================ */\n  let outputStr = \"\";\n\n  // Sort by date key to ensure Mon -> Sat order\n  for (const dateKey of Object.keys(dailyBuckets).sort()) {\n    const events = dailyBuckets[dateKey];\n\n    // If you want to skip days with no meetings, uncomment the line below:\n    // if (events.length === 0) continue;\n\n    // Sort events by start time\n    events.sort((a, b) => a.start - b.start);\n\n    const dateObj = DateTime.fromISO(dateKey, { zone: targetTimeZone });\n    outputStr += `${dateObj.toFormat('cccc, d MMMM yyyy')}.\\n`;\n\n    if (events.length === 0) {\n      outputStr += \"No meetings scheduled.\\n\";\n    } else {\n      for (const e of events) {\n        if (e.isAllDay) {\n          outputStr += `${e.subject} (All Day)\\n`;\n        } else {\n          outputStr += `${e.subject}|${formatTimeRange(e.start, e.end)}\\n`;\n        }\n      }\n    }\n\n    outputStr += '\\n'; // Spacer between days\n  }\n\n  results.push({\n    json: {\n      schedule_text: outputStr.trim(),\n      startDateTime: ts.startDateTime,\n      endDateTime: ts.endDateTime,\n      timezone: ts.timezone || targetTimeZone\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -544
      ],
      "id": "b99e0501-5b21-4c56-a4c1-72b4369c53ba",
      "name": "Cleanup schedule1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "G8FN1FQFM",
          "mode": "list",
          "cachedResultName": "__assistance_4_ceo"
        },
        "text": "=Hello Dr. <@U09FRFGMP>\n\nKindly find your updated schedule for the week;\n\n{{ $json.schedule_text }}\n\nCC: <@U09FRFGMP>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        592,
        -544
      ],
      "id": "bcf028d5-b3c4-4f19-bcd1-567188d32c9d",
      "name": "Send a message2",
      "webhookId": "61103ade-c660-47f5-bcd2-b19de197e0c3",
      "credentials": {
        "slackApi": {
          "id": "wl7aNw0I8pHwTNzg",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -864
      ],
      "id": "51592a6d-e140-4644-8fe9-969f4648bb2d",
      "name": "Daily schedule"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -544
      ],
      "id": "b7acaa29-df26-4407-835b-e0d223627f1d",
      "name": "Weekly schedule"
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\n\nconst results = [];\nconst targetTimeZone = 'Africa/Lagos';\n\n/* ============================================\n   1) Read day from \"Daily schedule\" trigger\n============================================ */\n// This simulates the day the workflow started\nconst trigger = $node[\"Daily schedule\"].json;\n\nconst dayMap = {\n  Monday: 1,\n  Tuesday: 2,\n  Wednesday: 3,\n  Thursday: 4,\n  Friday: 5,\n  Saturday: 6,\n  Sunday: 7\n};\n\nconst todayWeekday = dayMap[trigger[\"Day of week\"]];\nif (!todayWeekday) {\n  throw new Error(\"Invalid day from Daily schedule trigger\");\n}\n\n/* ============================================\n   1b) Pick target weekday (tomorrow)\n       Never allow Sunday\n============================================ */\nlet targetWeekday;\nif (todayWeekday === 5) targetWeekday = 6;                  // Fri → Sat\nelse if (todayWeekday === 6 || todayWeekday === 7) targetWeekday = 1; // Sat/Sun → Mon\nelse targetWeekday = todayWeekday + 1;\n\n/* ============================================\n   2) Resolve target date\n============================================ */\n// Use current execution time as the anchor\nconst now = DateTime.now().setZone(targetTimeZone);\nconst today = now.startOf('day');\n\n// Calculate days to add to get to the target weekday\nconst daysToAdd =\n  targetWeekday >= today.weekday\n    ? targetWeekday - today.weekday\n    : 7 - (today.weekday - targetWeekday);\n\nconst targetDate = today.plus({ days: daysToAdd });\nconst targetDateKey = targetDate.toISODate();\n\nconst targetDayStart = targetDate.startOf('day');\nconst targetDayEnd = targetDate.endOf('day');\n\n/* ============================================\n   Helper: time formatter\n============================================ */\nfunction formatTimeRange(start, end) {\n  const s = start.toFormat('h:mm');\n  const sa = start.toFormat('a').toLowerCase();\n  const e = end.toFormat('h:mm');\n  const ea = end.toFormat('a').toLowerCase();\n\n  return sa === ea ? `${s}-${e}${sa}` : `${s}${sa}-${e}${ea}`;\n}\n\n/* ============================================\n   3) Process events\n============================================ */\nfor (const item of $input.all()) {\n  const apiEvents = item.json.value || [];\n  const realEvents = [];\n\n  /* ---- Parse API events (authoritative) ---- */\n  for (const event of apiEvents) {\n    // 1. Detect if All Day (Outlook uses 'isAllDay' boolean, Google uses 'date' field)\n    const isAllDay = event.isAllDay === true || (event.start && !!event.start.date);\n\n    let start, end;\n\n    if (isAllDay) {\n      // For All Day, stick to the date component\n      const startDateStr = event.start.date || event.start.dateTime.split('T')[0];\n      const endDateStr = event.end.date || event.end.dateTime.split('T')[0];\n      \n      start = DateTime.fromISO(startDateStr, { zone: targetTimeZone }).startOf('day');\n      // Outlook All-Day events usually end on the next day at 00:00, subtract 1ms to keep it on the correct day\n      end = DateTime.fromISO(endDateStr, { zone: targetTimeZone }).minus({ millisecond: 1 }).endOf('day');\n    } else {\n      // 2. Timed Events: Respect the Source TimeZone provided by Outlook\n      // If we don't use event.start.timeZone, the time might shift incorrectly.\n      const sourceStartZone = event.start.timeZone || targetTimeZone;\n      const sourceEndZone = event.end.timeZone || targetTimeZone;\n\n      start = DateTime.fromISO(event.start.dateTime, { zone: sourceStartZone }).setZone(targetTimeZone);\n      end = DateTime.fromISO(event.end.dateTime, { zone: sourceEndZone }).setZone(targetTimeZone);\n    }\n\n    // Filter: Check if the event actually overlaps with the Target Date\n    if (start <= targetDayEnd && end >= targetDayStart) {\n      \n      // Clean up subject lines (remove \"Canceled:\", etc., if desired, or just take subject)\n      let subject = event.subject || \"(No title)\";\n      \n      realEvents.push({\n        subject,\n        start,\n        end,\n        isAllDay\n      });\n    }\n  }\n\n  /* ============================================\n     4) Sort & Format\n  ============================================ */\n  const finalEvents = realEvents.sort((a, b) => a.start - b.start);\n\n  let output = `${targetDate.toFormat('cccc, d MMMM yyyy')}.\\n`;\n\n  if (finalEvents.length === 0) {\n    output += \"No meetings scheduled.\";\n  } else {\n    for (const e of finalEvents) {\n      if (e.isAllDay) {\n        output += `${e.subject} (All Day)\\n`;\n      } else {\n        output += `${e.subject}|${formatTimeRange(e.start, e.end)}\\n`;\n      }\n    }\n  }\n\n  results.push({\n    json: {\n      schedule_text: output.trim(),\n      target_date: targetDateKey\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -960
      ],
      "id": "61aa4ca3-3abc-4b12-98d8-c7917fad11a4",
      "name": "Cleanup schedule2"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "G8FN1FQFM",
          "mode": "list",
          "cachedResultName": "__assistance_4_ceo"
        },
        "text": "=Hello Dr. <@U09FRFGMP>\n\nKindly find your schedule for tomorrow;\n\n{{ $json.schedule_text }}\n\nCC: <!channel> ",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        816,
        -960
      ],
      "id": "1a1d3d20-338d-42e8-9671-68ee15a2e2a4",
      "name": "Send a message3",
      "webhookId": "61103ade-c660-47f5-bcd2-b19de197e0c3",
      "credentials": {
        "slackApi": {
          "id": "wl7aNw0I8pHwTNzg",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper: format date as ISO 8601 with Lagos offset (+01:00)\nfunction formatLagosISO(date) {\n  const pad = (n) => String(n).padStart(2, \"0\");\n\n  return (\n    date.getFullYear() + \"-\" +\n    pad(date.getMonth() + 1) + \"-\" +\n    pad(date.getDate()) + \"T\" +\n    pad(date.getHours()) + \":\" +\n    pad(date.getMinutes()) + \":\" +\n    pad(date.getSeconds()) +\n    \"+01:00\"\n  );\n}\n\n// Get \"now\" in Lagos\nconst now = new Date(\n  new Date().toLocaleString(\"en-US\", { timeZone: \"Africa/Lagos\" })\n);\n\n// Day of week: 0=Sun ... 6=Sat\nconst day = now.getDay();\n\n// Monday logic\nconst diffToMonday = day === 0 ? 1 : 1 - day;\nconst diffToSaturday = diffToMonday + 5;\n\n// Monday 08:10\nconst monday = new Date(now);\nmonday.setDate(now.getDate() + diffToMonday);\nmonday.setHours(8, 10, 0, 0);\n\n// Saturday 17:00\nconst saturday = new Date(now);\nsaturday.setDate(now.getDate() + diffToSaturday);\nsaturday.setHours(17, 0, 0, 0);\n\nreturn [\n  {\n    json: {\n      startDateTime: formatLagosISO(monday),\n      endDateTime: formatLagosISO(saturday)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -544
      ],
      "id": "d11a278b-b37c-497f-8eca-66a884063e2f",
      "name": "Get (Mon-Sat) Timestamps1"
    },
    {
      "parameters": {
        "jsCode": "// Helper: format date as ISO 8601 with Lagos offset (+01:00)\nfunction formatLagosISO(date) {\n  const pad = (n) => String(n).padStart(2, \"0\");\n\n  return (\n    date.getFullYear() + \"-\" +\n    pad(date.getMonth() + 1) + \"-\" +\n    pad(date.getDate()) + \"T\" +\n    pad(date.getHours()) + \":\" +\n    pad(date.getMinutes()) + \":\" +\n    pad(date.getSeconds()) +\n    \"+01:00\"\n  );\n}\n\n// Get \"now\" in Lagos\nconst now = new Date(\n  new Date().toLocaleString(\"en-US\", { timeZone: \"Africa/Lagos\" })\n);\n\n// Day of week: 0=Sun ... 6=Sat\nconst day = now.getDay();\n\n// Monday logic\nconst diffToMonday = day === 0 ? 1 : 1 - day;\nconst diffToSaturday = diffToMonday + 5;\n\n// Monday 08:10\nconst monday = new Date(now);\nmonday.setDate(now.getDate() + diffToMonday);\nmonday.setHours(8, 10, 0, 0);\n\n// Saturday 17:00\nconst saturday = new Date(now);\nsaturday.setDate(now.getDate() + diffToSaturday);\nsaturday.setHours(17, 0, 0, 0);\n\nreturn [\n  {\n    json: {\n      startDateTime: formatLagosISO(monday),\n      endDateTime: formatLagosISO(saturday)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -960
      ],
      "id": "6debfb10-f5b3-4ddf-9b77-925b155959df",
      "name": "Get (Mon-Sat) Timestamps2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71119de2-b278-4a9a-9436-e8dd1769e820",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Saturday",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4190b98a-3b60-4ef9-baf9-e0fa5a052487",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Sunday",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -864
      ],
      "id": "6f6d92cd-3c16-4393-95a3-cb9a4d70d233",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        -768
      ],
      "id": "fd3e5a9b-26b7-43c3-a575-47ae3f5f009d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/calendarView",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDateTime",
              "value": "={{ $json.startDateTime }}"
            },
            {
              "name": "endDateTime",
              "value": "={{ $json.endDateTime }}"
            },
            {
              "name": "$top",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.timezone=\"Africa/Lagos\""
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body['@odata.nextLink'] }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response[\"@odata.nextLink\"] === undefined}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -544
      ],
      "id": "bd220f76-d6bc-4dc9-a91a-0079a0d6ff5c",
      "name": "Get updated calender",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "J9APiTZArpfDS7Ul",
          "name": "Asangansi Managed Outlook"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/calendarView",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDateTime",
              "value": "={{ $json.startDateTime }}"
            },
            {
              "name": "endDateTime",
              "value": "={{ $json.endDateTime }}"
            },
            {
              "name": "$top",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.timezone=\"Africa/Lagos\""
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body['@odata.nextLink'] }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response[\"@odata.nextLink\"] === undefined}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -960
      ],
      "id": "10b62939-afc1-4da5-806f-04b5e306d651",
      "name": "Get updated calender1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "J9APiTZArpfDS7Ul",
          "name": "Asangansi Managed Outlook"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.e4eweb.space",
            "connection": "upgrade",
            "content-length": "1507",
            "content-type": "application/json",
            "user-agent": "Paperform/1.0"
          },
          "params": {},
          "query": {},
          "body": {
            "data": [
              {
                "title": "Full Name",
                "description": null,
                "type": "text",
                "key": "4mnt6",
                "custom_key": null,
                "value": "Ezekiel Tedunjaiye"
              },
              {
                "title": "Meeting purpose",
                "description": "This will be used as the event subject, so keep it clear & concise",
                "type": "text",
                "key": "tb6e",
                "custom_key": null,
                "value": "Test Meeting schedule production"
              },
              {
                "title": "Kindly select the work email(s) of the attendees",
                "description": "Please select your work email to be included as an attendee",
                "type": "dropdown",
                "key": "amfac",
                "custom_key": null,
                "value": [
                  "christopher.ojoboh@e4email.net",
                  "karl.ezeh@e4email.net"
                ]
              },
              {
                "title": "Duration(Mins)",
                "description": "defaults to 15mins",
                "type": "number",
                "key": "79k7j",
                "custom_key": null,
                "value": "30"
              }
            ],
            "form_id": "68d2558aa1e960df7e0e8f42",
            "slug": "kqqh3xsz",
            "submission_id": "693291d94c57e90e6007e8f3",
            "created_at": "2025-12-05 09:03:37",
            "ip_address": "135.129.124.50",
            "charge": {
              "products": [],
              "summary": "",
              "discount": 0,
              "discounted_subscriptions": [],
              "coupon": false,
              "total": 0,
              "total_cents": 0,
              "tax": 0,
              "tax_percentage": 0,
              "processing_fee": 0,
              "authorize": null,
              "receipt_email": false
            },
            "team_id": 2233,
            "trigger": "submission",
            "device": {
              "type": "desktop",
              "device": "WebKit",
              "platform": "Windows",
              "browser": "Chrome",
              "embedded": false,
              "url": "https://kqqh3xsz.paperform.co/",
              "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
              "utm_source": null,
              "utm_medium": null,
              "utm_campaign": null,
              "utm_term": null,
              "utm_content": null,
              "ip_address": "135.129.124.50"
            }
          },
          "webhookUrl": "https://n8n.e4eweb.space/webhook/84cec262-cae8-4b26-8022-67cc52ebf293",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Attendee Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Attendee Object": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule calender event": {
      "main": [
        []
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Schedule calender event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Cleanup schedule1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily schedule": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly schedule": {
      "main": [
        [
          {
            "node": "Get (Mon-Sat) Timestamps1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup schedule2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get (Mon-Sat) Timestamps1": {
      "main": [
        [
          {
            "node": "Get updated calender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get (Mon-Sat) Timestamps2": {
      "main": [
        [
          {
            "node": "Get updated calender1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get (Mon-Sat) Timestamps2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get updated calender": {
      "main": [
        [
          {
            "node": "Cleanup schedule1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get updated calender1": {
      "main": [
        [
          {
            "node": "Cleanup schedule2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Lagos",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "66c2a00c-bd90-4b32-9b88-4e5471fa9e2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d36d44bc86c7c7c438594c4a6452789f9316c71e66b860c3403ad4c2355c8405"
  },
  "id": "RK7rqjiSmEYQqA6m",
  "tags": []
}